{
    "semi": true,
    "parser": "typescript",
    "singleQuote": false,
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": true,
    "bracketSpacing": true,
    "endOfLine": "lf"
}