@use "@/assets/scss/partials/functions" as *;

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background: getColor(primary-400);
    color: getColor(white-100);
    padding: toRem(16) toRem(32);
    border-radius: toRem(12);
    font-size: toRem(16);
    line-height: toRem(24);

    &:hover {
        background: getColor(primary-500);
    }
    &:focus {
        border: none;
        outline: none;
        background: getColor(primary-400);
        box-shadow: 0 0 0 2px getColor(primary-700);
    }
}